@font-face {
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 100;
    src: url('https://cdn.jsdelivr.net/npm/jetbrains-mono@1.0.6/fonts/webfonts/JetBrainsMono-Bold.woff2') format("woff2");
}

* {
    font-family: 'JetBrains Mono', monospace;
    color: #fff;
    font-size: 14px;
    margin: 0;
}

#code-block {
    display: inline-block;
    background-color: #2c2a2a;
    border-radius: 5px;
    padding: 15px;
    white-space: nowrap;
}

#controls {
    margin-bottom: 10px
}